<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PC_School_Admin.Main" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PC_School_Admin.Properties.Auth" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PC_School_Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PC_School_Admin.ViewModel.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PC_School_Admin.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <applicationSettings>
        <PC_School_Admin.Main>
            <setting name="First_start" serializeAs="String">
                <value>True</value>
            </setting>
        </PC_School_Admin.Main>
    </applicationSettings>
    <userSettings>
        <PC_School_Admin.Properties.Auth>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </PC_School_Admin.Properties.Auth>
        <PC_School_Admin.Properties.Settings>
            <setting name="First_Start" serializeAs="String">
                <value>True</value>
            </setting>
        </PC_School_Admin.Properties.Settings>
        <PC_School_Admin.ViewModel.Settings1>
            <setting name="First" serializeAs="String">
                <value />
            </setting>
        </PC_School_Admin.ViewModel.Settings1>
        <PC_School_Admin.Settings1>
            <setting name="First" serializeAs="String">
                <value />
            </setting>
        </PC_School_Admin.Settings1>
    </userSettings>
</configuration>